<ul>
  <li><%= link_to 'customers', customers_path %></li>
  <li><%= link_to 'upload', new_upload_path %></li>
  <li><%= link_to 'search', searches_path %></li>
</ul>

<p id="notice"><%= notice %></p>