<% if no_data? %>
  <%= render 'shared/no_data' %>
<% else -%>
  <h1 class='title'>Customers</h1>

  <div class="section">
    <% @customers.each do |customer| %>
      <h2 class='title'>
        <%= link_to customer.name, customer %>
      </h2>
    <% end %>
  </div>
<% end -%>
