<div class="section">
  <h2 class='title'>
    <%= @customer.name %>
  </h2>
  <div class="columns">
    <div class="column">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ut et eveniet aliquam, porro eos suscipit assumenda, enim tenetur sapiente, dolores quos. Tenetur eos, illum! Reprehenderit alias est itaque debitis.
      </p>
    </div>
    <div class="column reports">
      <h2 class="title">Reports</h2>
        <% @reports.each do |p| %>
          <h3 class='title'><%= link_to p.report_date, customer_report_path(p) %></h3>
        <% end -%>
    </div>
  </div>
</div>
