<h1 class='title'>Upload Report</h1>

<%= form_with(model: @upload, local: true) do |form| %>
  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.file_field :report %>
      </div>
    </div>
    <div class="column">
      <div class="actions">
        <%= form.submit class: 'button is-primary' %>
      </div>
    </div>
  </div>
<% end %>

